body {
	/*background: yellow;*/
}

#left{
	color:black;
}

button {
	margin-left: 40px;
	margin-bottom:10px;
}

body{
	margin: 0 auto;
	background: url("/assets/images/burger2.jpg")
	no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;


}

.eatBurger{
	height: 50px;
}

#submitBtn{
	height: 50px;
	width: 100px;
}

 #burg{
	 height: 50px;
 	width: 300px;
 }
 .textStyle{
	 margin-left: 80px;
 }
